p{
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
}

body {
    background: linear-gradient(45deg, #f3ec78, #af4261);
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.center{
    display: grid;
    place-items: center ;
}

.container {
    margin-top: 100px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    padding: 15px;
    margin: 25px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.energy-message {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #007BFF;
}
.superouter{
    margin:0%;
    padding: 15px;
    background-color:lightblue;
    border: none;
    border-radius: 15px;
    font-size: 36px;
    text-align: center;
}
.outer{
    background-color: antiquewhite;
    border-radius: 15px;
    border-style: solid;
    font-size: medium;
    padding: 15px;
    margin: 25px;
    text-align: justify;
}
.inner{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}